<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
1111111111111111111

<!-- show cart item list by user id   -->


<!--
  place order button
  onclick() ->

  call OrderController.createOrder()
  1, insert data into tbl_order          //orderService.createOrder()
  2, insert data into tbl_order_detail   //orderService.createOrder()
  3, remove data from cart               //cartService.removeCartItemsByUserId()
  4, goto payment page                   //redirect to payment.html
-->

</body>
</html>