<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Student</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container" my-2>
    <h3>HOME</h3>
    <table style="..." class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Category</th>
<!--            <th>name</th>-->
        </tr>
        </thead>
        <tr>
<!--        <tr th:each="category:${categoryList}">-->
            <!--            和实体类一致-->
<!--            <td th:text="${category.value}"></td>-->
            <td th:text="${categoryList[0].categoryName}"></td>
            <td th:text="${categoryList[1].categoryName}"></td>
            <td th:text="${categoryList[2].categoryName}"></td>
        </tr>
        <tr>
            <a th:href="@{/queryItems/{id}(id=${stu.studentId})}" class="btn btn-primary">Update</a>
<!--            <a th:href="@{/queryItems/{id}(id=${stu.studentId})}" class="btn btn-primary">Update</a>-->
<!--            <td th:text="${categoryList[0]}"></td>-->
<!--            <td th:text="${categoryList[1]}"></td>-->
<!--            <td th:text="${categoryList[2]}"></td>-->
        </tr>


    </table>

</div>

</body>
</html>